.DS_store
hands-on/session\ II/Materials/files/tif_files/
hands-on/session\ II/Materials/files/log.log
hands-on/session\ II/Materials/idx_data/Tennessee_terrain_parameters/
hands-on/session\ II/Materials/GEOtiled/geotiled/src/__pycache__